<nav class="navbar navbar-expand-lg navbar-dark bg-black shadow-sm">
  <div class="container">
    <a class="navbar-brand" routerLink="/list">
      <i class="fas fa-file-invoice-dollar me-2" style="color: #FFB22C;"></i>
      <span style="color: #FFB22C;">Fiados</span><span style="color: white;">App</span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a routerLink="/list" routerLinkActive="active" class="nav-link">
            <i class="fas fa-users me-2"></i>Clientes
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/crear-cliente" routerLinkActive="active" class="nav-link">
            <i class="fas fa-user-plus me-2"></i>Crear Cliente
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/listar-facturas" routerLinkActive="active" class="nav-link">
            <i class="fas fa-file-alt me-2"></i>Facturas
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/crear-factura" routerLinkActive="active" class="nav-link">
            <i class="fas fa-plus me-2"></i>Crear Factura
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/dash" routerLinkActive="active" class="nav-link">
            <i class="fas fa-chart-line me-2"></i>Métricas
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
